<<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div fxFlex="40">
    <p>Detalles del producto</p>

    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{producto.nombre | uppercase}}</h3>
          <img mat-card-image src={{producto.imagen}} alt={{producto.nombre}}>
        </mat-card-title>
      </mat-card-header>


      <mat-card-content>
        <p>{{producto.nombre}}
        </p>
      </mat-card-content>
      <mat-card-content>
        <p>{{producto.precio}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)=volver()>Volver</button>
        <button mat-button>Comprar</button>


      </mat-card-actions>
    </mat-card>

  </div>

  <div fxFlex="40">
    <p>Comentarios acerca del producto</p>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{producto.nombre | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>



      <mat-card-content *ngFor="let elemento of producto.comentarios">
        <p>{{elemento.estrellas}}
        </p>
        <p>{{elemento.comentario}}
        </p>
        <p>{{elemento.autor}}
        </p>
        <p>{{elemento.fecha}}
        </p>
        <br />
      </mat-card-content>


    </mat-card>

    <mat-card>
      <mat-card-content>
        <p>{{ comentarioForm.autor }} {{ comentarioForm.comentario}}</p>
        <form novalidate [formGroup]="comentarioForm" (ngSubmit)="onSubmit()">
          
          <p>

            <mat-form-field class="half-width">

              <input matInput formControlName="autor" placeholder="Autor" type="text" required>

            </mat-form-field>

          </p>

          <p>
            <mat-slider formControlName="estrellas" min="1" max="5" step="1" value="1"></mat-slider>
          </p>

          <p>

            <mat-form-field class="full-width">

              <textarea matInput formControlName="comentario" placeholder="Tu Comentario" rows=12></textarea>

            </mat-form-field>

          </p>


          <button type="submit" mat-button class="background-primary text-floral-white">Submit</button>

        </form>
      </mat-card-content>
    </mat-card>
  </div>

  </div>